@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');
@import url('github-ribbon.css');

body {
  margin: 0;
  font-family: 'Oxygen Mono', monospace;
}

#main {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

div#container {
  display: flex;
  flex-flow: row wrap;
  width: 615;
  height: 615;
  background-color: rgba(25,25,25,0.2);
}

.error {
  background-color: #f99;
  border: solid 3px #933;
  color: #222;
  padding: 10px;
  font-size: smaller !important;
}

div.section {
  display: flex;
  flex-wrap: wrap;
  width: 201px;
  height: 201px;
  border: solid 2px #333;
}

div.section span {
  color: rgba(100,100,125, 0.3);
  margin-top: -200px;
  z-index: -1;
  vertical-align: middle;
  text-align: center;
  font-size: 150px;
  text-align: center;
  width: 200px;
  font-weight: 900;
}


div.tile {
  display: block;
  width: 65px;
  height: 65px;
  border: solid 1px #666;
  font-family: 'Oxygen Mono', monospace;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
}

div.blackTile {
  background-color: #222;
}

div.whiteTile {
  background-color: #efe;
}

div.section input {
  border: none;
  width: 64px;
  height: 64px;
  font-family: 'Oxygen Mono', monospace;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
}

div#clue-container {
  display: flex;
  float: right;
  flex-flow: column wrap;
  padding-left: 50px;
  width: 160px;
  top: 0px;
}

li.clue {
  width: 150px;
  height: 50px;
}

li.clue input {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 10px;
  width: 375px;
}

header {
  width: 98%;
  font-size: 14px;
  height: 55px;
  margin-bottom: 60px;
  background: #aaa;
  opacity: 80%;
  padding: 1%;
  border-radius: 15px;
}

header h1 {
  width: 43%;
  float: left;
  padding-left: 2%
}

header h2 {
  width: 45%;
  float: right;
}

footer {
  max-width: 950px;
  margin: auto;
}

nav {
  position: fixed;
  left: 0px;
  z-index: 99999;
  bottom: 0px;
  background: #aaccaa;
  padding: 25px;
  border: solid 5px #88bb88;
}
nav a {
  text-decoration: none;
}

#credits {
  font-size: 15px;
  float: right;
  text-align: right;
}

.clue-style-0 { background-color: #9977b4; }
.clue-style-1 { background-color: #dd86b9; }
.clue-style-2 { background-color: #f497aa; }
.clue-style-3 { background-color: #f9b48a; }
.clue-style-4 { background-color: #fdcd79; }
.clue-style-5 { background-color: #fcf791; }
.clue-style-6 { background-color: #b6d884; }
.clue-style-7 { background-color: #6bcade; }
.clue-style-8 { background-color: #71abdd; }
.tile-style-0 { border-color: #9977b4 !important; }
.tile-style-1 { border-color: #dd86b9 !important; }
.tile-style-2 { border-color: #f497aa !important; }
.tile-style-3 { border-color: #f9b48a !important; }
.tile-style-4 { border-color: #fdcd79 !important; }
.tile-style-5 { border-color: #fcf791 !important; }
.tile-style-6 { border-color: #b6d884 !important; }
.tile-style-7 { border-color: #6bcade !important; }
.tile-style-8 { border-color: #71abdd !important; }

p#show-permalink {
  width: 370px;
  padding: 2px;
}

#show-permalink a {
  color: #ccccee;
}

h1 {
  font-weight: 100;
  font-style: italic;
}

span#author {
  font-weight: 100;
  font-style: normal;
}

span#title {
  font-weight: 800;
  font-style: normal;
}
