@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');

body {
  margin: 0;
  font-family: 'Oxygen Mono', monospace;
}

#main {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

div#container {
  display: flex;
  flex-flow: row wrap;
  width: 615;
  height: 615;
  background-image: url('./background.jpg');
  background-size: cover;
}

div.section {
  display: flex;
  flex-wrap: wrap;
  width: 201px;
  height: 201px;
  border: solid 2px #333;
}

div.section span {
  color: rgba(100,100,200, 0.3);
  margin-top: -200px;
  z-index: -1;
  vertical-align: middle;
  text-align: center;
  padding-left: 50px;
}


div.tile {
  display: block;
  width: 65px;
  height: 65px;
  border: solid 1px #666;
  font-family: 'Oxygen Mono', monospace;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
}

div.blackTile {
  background-color: #222;
}

div.whiteTile {
  background-color: #efe;
}

div.section input {
  border: none;
  width: 64px;
  height: 64px;
  font-family: 'Oxygen Mono', monospace;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
}

div#clue-container {
  display: flex;
  float: right;
  flex-flow: column wrap;
  padding-left: 50px;
  width: 160px;
  top: 0px;
}

li.clue {
  width: 150px;
  height: 50px;
}

li.clue input {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 10px;
  width: 375px;
}

header {
  width: 98%;
  font-size: 14px;
  height: 55px;
  margin-bottom: 20px;
  background: #aaa;
  opacity: 80%;
  padding: 1%;
}

header h1 {
  width: 45%;
  float: left;
}

header h2 {
  width: 45%;
  float: right;
}

footer {
  max-width: 950px;
  margin: auto;
}

#credits {
  font-size: 15px;
  float: right;
  text-align: right;
}

#clue-0 input { background-color: #9977b4; }
#section-0 .tile  { border-color: #9977b4; }
#clue-1 input { background-color: #dd86b9; }
#section-1 .tile  { border-color: #dd86b9; }
#clue-2 input { background-color: #f497aa; }
#section-2 .tile  { border-color: #f497aa; }
#clue-3 input { background-color: #f9b48a; }
#section-3 .tile  { border-color: #f9b48a; }
#clue-4 input { background-color: #fdcd79; }
#section-4 .tile  { border-color: #fdcd79; }
#clue-5 input { background-color: #fcf791; }
#section-5 .tile  { border-color: #fcf791; }
#clue-6 input { background-color: #b6d884; }
#section-6 .tile  { border-color: #b6d884; }
#clue-7 input { background-color: #6bcade; }
#section-7 .tile  { border-color: #6bcade; }
#clue-8 input { background-color: #71abdd; }
#section-8 .tile  { border-color: #71abdd; }

a#generate-permalink {
  font-size: 10px;
  border-bottom: 1px solid #333;
  cursor: pointer;
}

p#show-permalink {
  width: 406px;
  font-size: 12px;
  padding: 2px;
}
